<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
课程详情：<br>
课程编号： {{ course.id }}<br>
课程ID：   {{ course.pk }}<br>
课程名称： {{ course.course_name }}<br>

课程简介：{{ course.course_info }}<br>
授课人：  {{ course.course_teacher }}<br>
课程价格：{{ course.course_price }}<br>
发布日期：{{ course.pub_date }}<br>

</body>
</html>